<h3>Add Comments</h3>
<%= form_for([@post,@post.comments.build]) do |form| %>
	<div class="field">
		<%= form.label :description %>
		<%= form.text_field :description, id: :comment_description %>
	</div>
	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
